body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7f9fc;
  color: #222;
}

.logo {
  height: 30px;
  width: auto;         
  vertical-align: middle;
}


header {
  background-color: #001f3f;
  padding: 1rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
}

main {
  padding: 20px;
}

footer {
  background-color:  #001f3f;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
